# =========================
# DataGrip / IntelliJ
# =========================
.idea/
*.iml
dataSources.xml
modules.xml
vcs.xml

# =========================
# Archivos de sistema (Mac)
# =========================
.DS_Store

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.bak

# =========================
# SQL Server (si usas local)
# =========================
*.mdf
*.ldf

# =========================
# Otros
# =========================
*.sqlite
*.db